@charset "utf-8";

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	font-family:a_Grotic, sans-serif;
}

.partup {
	width:100%;
	height:800px;
}

.club {
	width:100%;
	height:1300px;
	background:url(../img/bg.png) no-repeat center center fixed;
	-moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
	-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
	-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
	-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
	background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
	margin:0;
	padding:15px 0px 0px 0px;
}

.partup {
	background:url(../img/bg.png);
	-moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
	-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
	-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
	-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
	background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
	margin:0;
	padding:15px 0px 0px 0px;
}

#vk_groups {
	max-width:980px;
	margin:0 auto;
	height:680px;
	padding:10px 0px 0px 0px;
}

.partup img, .club img, .kontrol img {
	float:left;
	max-width:100%;
}

.menu {
	margin:0 auto;
	padding:0;
	height:100px;
	display:block;
	text-align:center;
	max-width:980px;
}

.up, .down{
	margin:0 auto;
	padding:0;
	height:30px;
	display:block;
	text-align:center;
	max-width:650px;
}

.up {
	border-bottom:1px #ffffff solid;
	padding:20px 0 0 0;
}

.up li {
	list-style:none;
	float:left;
	min-width:110px;
	margin:0px 0px 0px 15px;

}

.down li  {
	list-style:none;
	float:left;
	min-width:120px;
	margin:10px 0px 0px 30px;
}

.up li a, .down li a {
	color:#ffffff;
	text-decoration:none;
	font-size:100%;
	font-family:a_Grotic, sans-serif;
	transition: color 0.5s ease;
}

.up li a:hover, .down li a:hover {
	text-decoration:underline;
	color:#AD809A;
}

.vectors {
	max-width:980px;
	margin:0 auto;
	display:block;
	height: 680px;
	
}

.vectors ul {
	max-width:650px;
	padding:0px;
	height:450px;
	margin:0 auto;
}

.vectors ul li {
	width:205px;
	list-style:none;
	float:left;
	margin:10px 5px 10px 5px;
	height:200px;
	background-color: rgba(238, 231, 231, 0.3);
}

#bb {
	width:205px;
	list-style:none;
	float:left;
	margin:10px 5px 10px 5px;
	height:200px;
	background-color: rgba(238, 231, 231, 0);
}

#bb  a img{
	max-width:195px;
	height:170px;
}

.vectors ul li a img {
	max-width:195px;
	height:170px;
}

.vectors ul li a {
	max-width:195px;
	height:170px;
	display:block;
	background-color: #ffffff;
	margin:5px 5px 0px 5px;
}

.vectors ul li a:hover img {
	opacity:0.6;
}

.vectors ul li  h3 {
	padding:5px 0px 0px 0px;
	margin:0;
	text-align:center;
	color:#ffffff;
	font-size:12px;
}

.vectors h1 {
	text-align: center;
}

.vecttext {
	max-width:980px;
	height:200px;
	padding:10px;
	margin:0 auto;
	background: rgba(238, 231, 231, 0.3);
}

.vecttext p {
	max-width:680px;
	float:left;
	margin:0px 10px 0px 0px;
	text-align:justify;
	font-size:16px;
	line-height:2;
	color:#ffffff;
}

.vecttext1 {
	max-width:980px;
	height:500px;
	padding:10px;
	margin:0 auto;
	background: rgba(238, 231, 231, 0.3);
}

.vecttext1 p  {
	max-width:980px;
	float:left;
	margin:0px 10px 0px 0px;
	text-align:justify;
	font-size:16px;
	line-height:2;
	color:#ffffff;
}

.vecttext img {
	max-width:270px;
	height:200px;
}

.vecttext1 img {
	width:430px;
	height:300px;
	margin:20px 23px 0 23px;
}

.partcenter {
	width:100%;
	height:600px;
	background-color:#6A6A8E;
}

.partcenter A{
	color:#ffffff;
	text-decoration:none;
	display:block;
	max-width:980px;
	text-align:center;
}

.ruk {
	max-width:980px;
	margin:0 auto;
	height:480px;
	padding:10px 0px 0px 0px;
}

.ruk h1 {
	text-align:center;
	color:#ffffff;
	font-family:a_Grotic, sans-serif;
	border-bottom:1px #ffffff solid;
	margin:0 auto 30px auto;
	max-width:650px;
}

.ruk ul {
	padding:0;
	display:block;
	text-align:center;
	max-width:650px;
	height:420px;
	margin:0 auto;
}

.ruk ul li {
	max-width:350px;
	height:400px;
	float:left;
	list-style:none;
	background-color: rgba(238, 231, 231, 0.3);
	margin:0px 40px 0px 40px;
}

.ruk ul li img {
	max-width:350px;
	height:350px;
}

.ruk ul li  h3  {
	margin:0;
	padding:15px 0px 0px 0px;
	text-align:center;
	color:#ffffff;
	font-size:12px;
}

.partners {
	width:100%;
	height:900px;
	background-color:#ffffff;
	padding: 10px 0px 0px 0px;
}

.part {
	max-width:1100px;
	margin:0 auto;
	height:300px;
	padding:10px 0px 0px 0px;
}

.part h1 {
	text-align:center;
	color:black;
	font-family:a_Grotic, sans-serif;
	border-bottom:1px black solid;
	margin:0 auto 30px auto;
	max-width:650px;
}

.part ul {
	padding:0;
	display:block;
	text-align:center;
	width:100%;
	height:100%;
	margin:0 auto;
}
.part ul li {
	max-width:100px;
	height:100px;
	float:left;
	list-style:none;
	margin:0px 10px 20px 10px;
}

.part ul li img {
	width:100px;
	height:100px;
}

.part1 {
	max-width:1100px;
	margin:0 auto;
	height:300px;
	padding:10px 0px 0px 0px;
}

.part1 h1 {
	text-align:center;
	color:black;
	font-family:a_Grotic, sans-serif;
	border-bottom:1px black solid;
	margin:60px auto 30px auto;
	max-width:650px;
}

.part1 ul {
	padding:0;
	display:block;
	text-align:center;
	width:100%;
	height:100%;
	margin:0 auto;
}
.part1 ul li {
	width:200px;
	height:200px;
	float:left;
	list-style:none;
	margin:0px 10px 20px 10px;
}

.part1 ul li img {
	width:200px;
	height:200px;
}

.footer {
	width:100%;
	height:500px;
	background:url(../img/bgn.png);
	-moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
	-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
	-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
	-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
	background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
}

.foot {
	max-width:980px;
	margin:0 auto;
	height:400px;
	padding:10px 0px 0px 0px;
}

.foot ul {
	padding:0;
	display:block;
	text-align:center;
	max-width:650px;
	height:100%;
	margin:0 auto;
}
.foot ul  li{
	float:left;
	max-width:130px;
	height:160px;
	list-style:none;
	margin:0px 7px 7px 7px;
}
.foot ul li a {

	max-width:130px;
	height:160px;
	display:block;
}

.foot ul li a img {
	max-width:130px;
	height:160px;
}

.foot ul li a:hover img {
	opacity:0.6;
}

.foot h1 {
	text-align:center;
	color:black;
	font-family:a_Grotic, sans-serif;
	border-bottom:1px #ffffff solid;
	margin:0 auto 30px auto;
	max-width:650px;
}

.nis {
	width:100%;
	height:50px;
	background-color: rgba(10, 10, 10, 0.8);
	text-align:center;
	margin:0 auto;
	padding:10px 0 0 0;
}

.nis p {
	margin:0;
	color:#ffffff;
	font-family:a_Grotic, sans-serif;
}

.contact {
	max-width:980px;
	margin:0 auto;
	height:1100px;
	padding:10px 5px 0px 5px;
	background-color: rgba(238, 231, 231, 0.3);
}

.contact h1 {
	text-align:center;
	color:#ffffff;
	font-family:a_Grotic, sans-serif;
	margin:0 auto 30px auto;
	max-width:800px;
}

.contact p {
	margin:10px 0 0 0;
}

.contact img {
	width:300px;
	height:200px;
	float:none;
}

.kontrol {
	width:100%;
	height:1900px;
	background:url(../img/bg.png) no-repeat center center fixed;
	-moz-background-size:cover; /* растягиваю изображение по размерам окна для браузера Firefox 3.6 */
	-o-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Opera 9.5 */
	-webkit-background-size:102% auto; /* растягиваю изображение по размерам окна для браузера Safari 3.0 */
	-khtml-background-size:cover; /* растягиваю изображение по размерам окна для браузера Konqueror 3.5.4 */
	background-size:cover; /* растягиваю изображение по размерам окна для всех браузеров поддерживающих технологию CSS3 */
	margin:0;
	padding:15px 0px 0px 0px;
}

.kont {
	max-width:980px;
	margin:0 auto;
	height:1700px;
	padding:10px 5px 0px 5px;
	background-color: rgba(238, 231, 231, 0.3);
}

.kont h1 {
	text-align:center;
	color:#ffffff;
	font-family:a_Grotic, sans-serif;
	margin:0 auto 30px auto;
	max-width:650px;
}

.kont p {
	margin:10px 0 0 0;
}

.kont img {
	width:300px;
	height:200px;
	float:none;
}

.kont A {
	text-decoration:none;
	color:#ffffff;
}

.kont A:hover {
	text-decoration:underline;
	color:#AD809A;
}

.goods {
	max-width:980px;
	margin:0 auto;
	height:950px;
	padding:10px 5px 0px 5px;	
}

.goods h1 {
	text-align:center;
	
}

.goods table {
	border-spacing:10px 10px;
}

.goods table tr {
	border:1px black solid;
}

.goods table tr td h2 {
	text-align:center;
}

.goods table tr td A {
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	display:block;
}

.N {
	max-width:300px;
	background-color: rgba(238, 231, 231, 0.5);
	padding:5px;
}


.O {
	max-width:500px;
	background-color: rgba(238, 231, 231, 0.5);
	padding:5px;
}


.A {
	max-width:100px;
	background-color: rgba(238, 231, 231, 0.5);
	padding:5px;
}

.spec {
	max-width:980px;
	margin:0 auto;
	height:1180px;
	padding:10px 5px 0px 5px;
	background-color: rgba(238, 231, 231, 0.5);
}

.spec h1 {
	text-align:center;
}

@media (min-width:960px) and (max-width:1190px) {
.menu>img {
		display:none;
}
	
.vecttext {
	max-width:920px;
}

.vecttext p {
	font-size:17px;
	display:block;
}

.vecttext img {
	max-width:230px;
}
	
.partners {
	height:850px;
}

.part1 {
	max-width:960px;
}
	
.part1 ul li {
	width:140px;
	height:140px;
}

.part1 ul li img {
	width:140px;
	height:140px;
}

.part1 h1 {
	margin:120px auto 30px auto;
}	
	
}

@media (min-width:768px) and (max-width:959px) {
.menu>img {
	display:none;
}

.vecttext {
	max-width:728px;
}

.vecttext p {
	font-size:15px;
	display:block;
	max-width:485px;
}

.vecttext img {
	max-width:230px;
}

.partners {
	height:1050px;
}

.part ul li {
	max-width:100px;
	height:100px;
	float:left;
	list-style:none;
	margin:0px 14px 20px 14px;
}

.part1 {
	max-width:768px;
}
	
.part1 ul li {
	width:170px;
	height:170px;
}

.part1 ul li img {
	width:170px;
	height:170px;
}

.part1 h1 {
	margin:140px auto 30px auto;
}	
	
}

@media (min-width:480px) and (max-width:767px) {
.partup {
	height:900px;
}
.footer{
	height:800px;
}
.foot {
	margin:0 auto;
	width:480px;
	height: 600px;
}

.foot ul {
	width:480px;
}

.foot h1{
	text-align:center;
	margin:0 auto;
}

.foot li{
	padding: 5px 15px 5px 15px;
}

.menu>img {
	display:none;
}
	
.menu {
	max-width:480px;
}	
.up, .down{
	max-width:460px;
}

.up li {
	min-width:95px;
	font-size:14px;
}

.up li:nth-child(4){
	display:none;
}

.down li  {
	min-width:115px;
	font-size:14px;
}

.down li:nth-child(1){
	display:none;
}
#bb {
	display:none;
}

.vectors>ul>li:nth-child(5){
	display:none;
}

.vectors>ul {
	max-width:460px;	
}

.vectors>ul>li{
	margin:10px 12px 10px 12px;
}

.vecttext {
	max-width:440px;
	height:283px;
}

.vecttext p {
	display:none;
}

.vecttext img {
	max-width:440px;
	height:280px;
}

.partcenter {
	height:960px;
}

.ruk>ul {
	height:810px;
}

.ruk ul li {
	max-width:233.77px;
	height:400px;
	float:none;


	margin:0px auto 15px auto;
}

.ruk ul li img {
	max-width:233.77px;
	height:350px;
}

.ruk a {
	margin:20px 0 0 0;
}

.partners {
	height:1400px;
	padding:0;
}

.part ul {
	height:590px;
}

.part1 {
	max-width:480px;
}

.part1 ul  {
	width:480px;
}
	
.part1 ul li {
	width:190px;
	height:190px;
	margin:0px 23px 20px 23px;
}

.part1 ul li img {
	width:190px;
	height:190px;
}

.part1 h1 {
	margin:380px auto 30px auto;
}	


.ruk h1, .part h1, .foot h1, .part1 h1 {
	max-width:460px;
}

}
}